html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

body .a-enter-vr-button{
background-image: url("data:image/svg+xml,%3Csvg width='141' height='141' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m 23,57 a 47,52 0 1 1 95,0' fill='%23eee'/%3E%3Crect x='46' y='105' width='53' height='24' ry='9' fill='%23eee'/%3E%3Cpath d='m93 91c-9 0-16-7-16-16s7-16 16-16c9 0 16 7 16 16 0 8-7 16-16 16zm-59-16c0-8 7-16 16-16 9 0 16 7 16 16 0 8-7 16-16 16-9 0-16-7-16-16zm0-26c-6 0-11 4-10 10l2 20c1 13 15 21 21 22l16 0c0 0 1-0 2-1l4-7c1-1 3-1 5-0l4 7c0 0 1 1 2 1h16c6 0 23-13 23-28v-15.278c0 -6-4-10-11-10' fill='%23888' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
min-height: 50px;
padding-top: 5%;
border-radius: 100%;
border: 5px solid #f00;
}
